# Forest Fires Data Set

### 1 Analysis tasks

This study considers incidences of forest fires in the north east of Portugal. The dataset includes 517 cases of fofire

This study considers incidences of forest fires in the north east of Portugal.

In [1]:
import pandas as pd

import numpy as np

In [10]:
forrest_fire = pd.read_csv("forestfires.csv")
forrest_fire.head(6)

   X  Y month  day  temp  wind  rain  area
0  7  5   mar  fri   8.2   6.7   0.0   NaN
1  7  4   oct  tue  18.0   0.9   0.0   NaN
2  7  4   oct  sat  14.6   1.3   0.0   NaN
3  8  6   mar  fri   8.3   4.0   0.2   NaN
4  8  6   mar  sun  11.4   1.8   0.0   NaN
5  8  6   aug  sun  22.2   5.4   0.0   NaN

In [6]:
forrest_fire.shape

(517, 8)